body {
  background-image: url(../images/square-2721757.png);
  background-size: cover;
  background-position: top;
}
div {
  display: flex;
  justify-content: space-around;
}
a {
  text-decoration: none;
  color: darkslategrey;
  font-weight: 700;
}
.hero-title {
  font-size: 49px;
  font-weight: 900;
  margin: 0;
  padding-top: 100px;
  text-align: center;
}
